body {
    font-family: "Tex gyre adventor";
    background: rgba(106, 96, 169, 0.10);
    padding: 0px;
    margin: 0px;
}

.title {
    display: flex;
    padding: 2px;
}

.menubar {
    background-color: #36185F;
    display: flex;
    color: white;
}

.menubar-content {
    font-size: 14px;
     display: flex;
     margin-left: 0px;
     transition: margin-left 0.5s ease-in-out;
}

.menubar-content > .menubar-input {
     display: flex;
     margin-left: -1000px;
     transition: margin-left 0.5s ease-in-out;
}

.menubar-content.open > .menubar-input {
     display: flex;
     margin-left: 0px;
}

.menubar-content.open {
}
.menubar text {
    margin-right: 13px;
    margin-left: 3px;
    font-weight: 200;
}

.selectedTags {
    display: flex;
    align-items: center;
}

.ReactTags__tags {
    display: flex;
    align-items: center;
}

.ReactTags__tagInput input{
    font-size: 20px;
    font-weight: 200;
    width: 150px;
    margin-left: 10px;
    background:  #36185F;
    height: 28px;
    outline: none;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    -webkit-appearance: none;
}



.ReactTags__suggestions{
    z-index: 1000;
    position: absolute;
    background: #36185F;
    width: 150px;
    max-height: 30%;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-y: auto;
    overflow-x: hidden;

}

.ReactTags__suggestions ul{
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    list-style-type: none;

}


.ReactTags__suggestions li{
    list-style: none;
    padding: 8px;
    border-bottom: 0.5px solid gray;

}

.ReactTags__suggestions mark{
    background: gray;
    color: white;
}

.tagselect {

    display: inline-block;
    margin-left: 20px;   
    outline-color: transparent;
    outline-style: none; 
}


.selectedTagDeleteButton {
    height: 30px;
    border: 0.5px solid white;
    color: white;
    margin-left: 10px;
    text-transform: uppercase;
    background:  #36185F;


}

.image-gallery {
    display: flex;
    position: relative;
    height: 90%;
    margin-top: 10px;
    margin-left: 10px;
    justify-content: center;
}


.gallery-image-picture{
    height: 100%;
    width: 100%;
}


.gallery-image-text{
    font-size: 12px;
}

.gallery-image-likes > span {
    vertical-align: middle;
    color: white;
    line-height: normal;
    display: inline-block;
}

.gallery-image-likes{
    line-height: 11vh;
    width: 15vh;
    height: 15vh;
    font-size: 30px;
    text-align: center;
    background: url("resources/heart.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}


.image-gallery-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    margin-right: 10px;
}

.image-gallery-left > .gallery-image{
    height: 19vh;
    width: 19vh;
    padding: 7px;
    background-color: white;
    border-radius: 2px;
}

.image-gallery-right > .gallery-image > .gallery-image-picture {
    width: 90vh;
    height: 90vh;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
}



.image-gallery-right > .gallery-image{
    height: 100%;
    display: flex;
}


.gallery-image-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 40vh;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    background-color: white;
    align-items: center;
}


#logo {
    display: inline-block;
    height: 30px;
    padding: 5px;
    padding-left: 10px;
    z-index: 10;
    background:  #36185F;
}

.sort-buttons {
    display: flex;
    text-align: center;
    padding: 5px;
    align-items: center;
}

@font-face {
    font-family: "PT sans regular";
    src: url("resources/fonts/PTS55F.ttf");
}

@font-face {
    font-family: "Tex gyre adventor";
    src: url("resources/fonts/texgyreadventor-regular.otf");
}



