body {
    font-family: Helvetica, Arial, Sans-Serif, sans-serif;
    background: white;
}

.title {
    display: flex;
    padding: 2px;
}

.egghead {
    width: 30px;
    padding: 5px;
}

.image-gallery {
    align-items: center;
}

.gallery-image {
    height: 640px;
    width: 640px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-size: 100%;
}

.image-scroller {
    display: flex;
    justify-content: space-around;
    overflow: auto;
    overflow-y: hidden;
}

.image-scroller img {
    width: 50px;
    height: 50px;
    padding: 1px;
    border: 1px solid black;
}

.gallery-image-text {
    display: inline-block;
   width: 320px;
   height: 100%;
   margin: 550px auto;
   text-align: center;
   font-size: 2.0em;
   color: #6A60A9;
}

.gallery-image-likes {
    display: inline-block;
   width: 320px;
   height: 100%;
   margin: 0 auto;
   text-align: center;
   font-size: 2.0em;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   color: #6A60A9;
}
