body {
    font-family: "Tex gyre adventor";
    background: rgba(106, 96, 169, 0.10);
    padding: 0px;
    margin: 0px;
}

.title {
    display: flex;
    padding: 2px;
}

.menubar {
    justify-content: flex-start;
    display: flex;
    position: relative;
    background-color: #a18cbe;
    color: white;
    height: 50px;
    padding-bottom: 5px;
    top:-48px;
    transition: top 0.5s ease;
    margin-bottom: 30px;
}

.menubar:hover {
    top: 0px;
    transition: top 0.5s ease;
}

.menubar:hover .sort-buttons{
    display: flex;
}

.menubar-content {
    display: flex;
    font-size: 14px;
     margin-left: 0px;
     transition: margin-left 0.5s ease-in-out;
}

.menubar-content > .menubar-input {
    display: flex;
    transition: margin-left 0.5s ease-in-out;
}

.logo {
    display: flex;
    height: auto;
    width: 15%;
    padding: 5px;
    padding-left: 10px;
    z-index: 10;
    background:  ;
}

.sort-buttons {
    display: flex;
    text-align: center;
    padding: 5px;
    align-items: center;
}


.menubar-content.open > .menubar-input {
     margin-left: 0px;
}

.menubar-content.open {
}
.menubar text {
    margin-right: 13px;
    margin-left: 3px;
    font-weight: 200;
}

.selectedTags {
    display: flex;
    align-items: center;
}


.TagInput input{
    display: flex;
    font-size: 20px;
    font-weight: 200;
    height: 80%;
    margin-right: 5px;
    margin-left: 5px;
    background:  #a18cbe;
    outline: none;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    -webkit-appearance: none; 
}

.TagInputSuggestions{
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    list-style-type: none;
    z-index: 1000;
    background: #a18cbe;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;

}

.TagInputSuggestions li{
    list-style: none;
    padding: 8px;
    border-bottom: 0.5px solid white;
}

.TagInputSuggestions li:last-child{
    border-bottom:none;
}

.TagInputSuggestions mark{
    background: gray;
    color: white;
}


.tagselect {
    display: inline-block;
    margin-left: 20px;   
    outline-color: transparent;
    outline-style: none; 
}


.selectedTagDeleteButton {
    height: 30px;
    border: 0.5px solid white;
    color: white;
    margin-left: 10px;
    text-transform: uppercase;
    background:  #a18cbe;


}

.gallery-image {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 20%;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    box-shadow: 0px 3px 3px rgba(0,0,0,.4);
    transition: transform 1s ease-in-out;
}



.gallery-image-picture {
    width: 100%;
    height: 100%;
}

.gallery-image-text {
    position: absolute;
    bottom: 10px;
   text-align: center;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   color: white;
   pointer-events: none;
   font-size: 1em;
}

.gallery-image-likes {
    position: absolute;
    width: 5.1vmin;
    height: 5vmin;
    display: flex;
    justify-content: center;
    align-items: top;
    top: 10px;
    left: 10px;
    padding: 20px;
   font-size: 1.5em;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   color: white;

   transition: all 0.4s cubic-bezier(0.42, 0, 0.37, 1.43) 0.4s;
   transform: scale(0.01);

   background-image: url("http://localhost:3000/resources/heart.svg");
   background-repeat: no-repeat;
   background-size: cover;
}

.image-gallery-bottom-right > .gallery-image.enter-active > .gallery-image-likes{
    transform: scale(1.0);
}

.gallery-image-likes > span {
    text-align: center;
    line-height: 15px;
    padding-left: 2px;
}

.image-gallery {
    width: 40%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.image-gallery-bottom {
    float: left;
}

.image-gallery-top {
    position: relative;
    width: 100%;
}

.image-gallery-top > .gallery-image {
    width: 20%;
    height: 100%;
    transition: all 1s;
    transform: translate(-100%, 0);
    opacity: 1;
}

.image-gallery-top  > .gallery-image.enter-active {
    transform: translate(0, 0);
}

.image-gallery-top  > .gallery-image:first-child {
    transition: all 0s;
    transition-delay: 1s;
    opacity: 0;
}

.image-gallery-top  > .gallery-image.enter-active:first-child {
    opacity: 1;
}

.image-gallery-top  > .gallery-image:last-child {
    z-index: 10;
    position: absolute;
    width: 20%;
    height: 100%;
    transform: translate(-100%, 0);
    opacity: 1;
}

.image-gallery-top  > .gallery-image.enter-active:last-child {
    opacity: 0;
    transform: translate(-250%, 240%) scale(3.5);
}

.image-gallery-bottom-left {
    width: 20%;
    float: left;
    display: inline-block;
}

.image-gallery-bottom-left > .gallery-image {
    width: 100%;
    height: auto;
    display: inline-block;
    transform: translate(0, 0);
}

.image-gallery-bottom-left > .gallery-image:last-child {
    width: 100%;
    height: auto;
    display: inline-block;
    transform: translate(0, 100%);
}

.image-gallery-bottom-left > .gallery-image.enter-active {
    width: 100%;
    height: auto;
    display: inline-block;
    transform: translate(0, -100%);
}
.image-gallery-bottom-right {
    width: 80%;
    display: inline-block;
    position: relative;
}

.image-gallery-bottom-right > .gallery-image {
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.4s linear 0.4s;
}

.image-gallery-bottom-right > .gallery-image.enter-active {
    opacity: 1;
}


@font-face {
    font-family: "PT sans regular";
    src: url("resources/fonts/PTS55F.ttf");
}

@font-face {
    font-family: "Tex gyre adventor";
    src: url("resources/fonts/texgyreadventor-regular.otf");
}



